body {
  background-image: url("../src/abstractbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
}

a {
  color: rgb(221, 28, 89);
}

img {
  border-radius: 10px;
}

.App-logo {
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.App {
  margin: 20px 0;
}

.outline {
  background: linear-gradient(#eb3fc8, #f397ee, #eb3fc8);
  border: solid;
  border-color: rgb(51, 51, 236);
  border-width: thick;
  padding: 10px 10px;
  margin: 30px 30px;
  border-radius: 7px;
}

.footer {
  text-align: center;
}
