body {
  background: #ecebe7ef;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  opacity: 0.8;
}

a {
  color: rgb(221, 28, 89);
}

img {
  border-radius: 10px;
}

.App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.App {
  margin: 20px 0;
}

.outline {
  border: solid;
  border-width: thick;
  padding: 20px 20px;
  margin: 30px 30px;
  border-radius: 7px;
}

.footer {
  text-align: center;
}
