p {
  font-size: 25px;
}

.Dictionary {
  text-align: center;
  margin: 50px 180px;
}

section {
  background: #8694ae;
  padding: 15px;
  margin: 35px 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(73, 54, 54, 0.7);
}

input {
  width: 100%;
  border-radius: 5px;
}
